html {
    font-size: 10px;
    font-family: 'Montserrat Alternates', sans-serif;
    background-color: #fff;
    overflow-x: hidden;
}

body {
    /* background-image: url('images/main-O.png'); */
    /* background-size: cover; */
}

.wrapper {
    width: 1280px;
    margin: 0 auto;
}

header {
    position: relative;
}
.header__line {
    height: 42px;
    background-color: #131A20;
}

.header__nav {
    position: absolute;
    top: 42px;
    height: 44px;
    background-color: #000000;
    opacity: 0.7;
    width: inherit;
    display: flex;
    justify-content: space-around;
    z-index: 1;
}

.header__link {
    color: #E89B31;
    font-weight: 700;
    font-size: 1.8rem;
    letter-spacing: 0.125em;
    text-decoration: none;
    padding-top: 10px;
}

.header__link:hover {
    text-decoration: underline;
}
.main-back {
    background-image: url('images/main-back.png');
    height: 630px;
    display: flex;
    position: relative;
}

.main__about-us {
    background-color: #EEA43A;
    height: 84px;
    line-height: 84px;
    text-align: center;
    align-self: flex-end;
    width: 100%;
    letter-spacing: 0.125em;
    color: #FFFFFF;
    opacity: 0.7;
    font-weight: 600;
    font-size: 2.4rem;
}

.online-shop {
    top: 474px;
    left: 183px;
    position: absolute;
    font-weight: 600;
    font-size: 1.8rem;
    letter-spacing: 0.125em;
    color: #FFFFFF;
    opacity: 0.7;
}

.main-text {
    background-image: url('images/main-O.png');
    height: 288px;
}

.main-text__description {
    font-weight: 600;
    width: 514px;
    font-size: 2.4rem;
    line-height: 29px;
    padding-top: 85px;
    margin: 0 auto;
    text-align: justify;
    align-items: center;
    letter-spacing: 0.075em;
    color: #000000;
}

.main-text__description:before, .main-text__description:after {
    content: "";
    width: 10px;
    position: absolute;
    margin-top: 7px;
    margin-left: -51px;
    display: block;
    height: 133px;
    background-color: rgba(238, 164, 58, 0.7);
}

.main-text__description:after {
    margin-left: 97px;
    margin-top: -107px;
    display: inline-block;
}

.footer {
    height: 64px;
    background: #2E2E2E;
    text-align: center;
}

.footer p {
    padding-top: 17px;
}

.footer a, .footer p {
    font-weight: 500;
    font-size: 1.2rem;
    align-items: center;
    letter-spacing: 0.125em;
    color: #FFFFFF;
    line-height: 15px;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.woman {
    height: 480px;
}

.man {
    height: 448px;
}

.big-woman {
    background-image: url('images/big-woman.png');
    height: 309px;
    position: relative;
    z-index: -1;
}

.name-collection {
    width: 570px;
    padding-left: 48px;
    height: 54px;
    padding-top: 5px;
    font-weight: 600;
    font-size: 3rem;
    text-align: center;
    letter-spacing: 0.125em;
    color: #FFFFFF;
    background: rgba(12, 12, 12, 0.3);
    border: 3px solid #E89B31;
    box-sizing: border-box;
    position: absolute;
    top: 173px;
}

.name-collection:hover {
    cursor: pointer;
    color: #e0d4ac;
}
.big-man {
    background-image: url('images/big-man.png');
    height: 281px;
    position: relative;
    z-index: -1;
}

.man .name-collection {
    padding-right: 67px;
    top: 113px;
    right: 0;
}

.catalog-table {
    display: flex;
    justify-content: space-around;
    margin-top: -36px;
}

.catalog-thing_m, .catalog-thing_w {
    height: 188px;
    width: 201px;
    cursor: pointer;
    border-radius: 50%;
}

.catalog-thing_m:hover, .catalog-thing_w:hover {
    box-shadow: 0px 17px 39px -11px rgba(0,0,0,0.75);
}

.catalog-thing_w:first-child {
    background-image: url('images/толстовки.png');
}

.catalog-thing_w:nth-child(2) {
    background-image: url('images/платья.png');
}

.catalog-thing_w:nth-child(3) {
    background-image: url('images/брюки.png');
}

.catalog-thing_w:nth-child(4) {
    background-image: url('images/куртки.png');
}

.catalog-thing_m:first-child {
    background-image: url('images/костюмы.png');
}

.catalog-thing_m:nth-child(2) {
    background-image: url('images/водолазки.png');
}

.catalog-thing_m:nth-child(3) {
    background-image: url('images/гольфы.png');
}

.catalog-thing_m:nth-child(4) {
    background-image: url('images/брюкиМ.png');
}

.catalog-thing__text {
    font-weight: 500;
    font-size: 2.2rem;
    line-height: 188px;
    text-align: center;
    letter-spacing: 0.125em;
    color: #FFFFFF;
}