html {
    font-size: 10px;
    font-family: 'Montserrat Alternates', sans-serif;
    background-color: #fff;
    overflow-x: hidden;
}


.wrapper {
    width: 1280px;
    margin: 0 auto;
}

header {
    position: relative;
}
.header__line {
    height: 42px;
    background-color: #131A20;
}

.header__nav {
    position: absolute;
    top: 42px;
    height: 44px;
    background-color: #000000;
    opacity: 0.7;
    width: inherit;
    display: flex;
    justify-content: space-around;
    z-index: 1;
}

.header__link {
    color: #E89B31;
    font-weight: 700;
    font-size: 1.8rem;
    letter-spacing: 0.125em;
    text-decoration: none;
    padding-top: 10px;
}

.header__link:hover {
    text-decoration: underline;
}
.main-back {
    background-image: url('images/main-back.png');
    height: 630px;
    display: flex;
    position: relative;
}

.main__about-us {
    background-color: #EEA43A;
    height: 84px;
    line-height: 84px;
    text-align: center;
    align-self: flex-end;
    width: 100%;
    letter-spacing: 0.125em;
    color: #FFFFFF;
    opacity: 0.7;
    font-weight: 600;
    font-size: 2.4rem;
}

.online-shop {
    top: 474px;
    left: 183px;
    position: absolute;
    font-weight: 600;
    font-size: 1.8rem;
    letter-spacing: 0.125em;
    color: #FFFFFF;
    opacity: 0.7;
}

.main-text {
    background-image: url('images/main-O.png');
    height: 288px;
}

.main-text__description {
    font-weight: 600;
    width: 514px;
    font-size: 2.4rem;
    line-height: 29px;
    padding-top: 85px;
    margin: 0 auto;
    text-align: justify;
    align-items: center;
    letter-spacing: 0.075em;
    color: #000000;
}

.main-text__description:before, .main-text__description:after {
    content: "";
    width: 10px;
    position: absolute;
    margin-top: 7px;
    margin-left: -51px;
    display: block;
    height: 133px;
    background-color: rgba(238, 164, 58, 0.7);
}

.main-text__description:after {
    margin-left: 97px;
    margin-top: -107px;
    display: inline-block;
}

.footer {
    height: 64px;
    background: #2E2E2E;
    text-align: center;
}

.footer p {
    padding-top: 17px;
}

.footer a, .footer p {
    font-weight: 500;
    font-size: 1.2rem;
    align-items: center;
    letter-spacing: 0.125em;
    color: #FFFFFF;
    line-height: 15px;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.woman {
    height: 480px;
}

.man {
    height: 448px;
}

.big-woman {
    background-image: url('images/big-woman.png');
    height: 309px;
    position: relative;
    z-index: -1;
}

.name-collection {
    width: 570px;
    padding-left: 48px;
    height: 54px;
    padding-top: 5px;
    font-weight: 600;
    font-size: 3rem;
    text-align: center;
    letter-spacing: 0.125em;
    color: #FFFFFF;
    background: rgba(12, 12, 12, 0.3);
    border: 3px solid #E89B31;
    box-sizing: border-box;
    position: absolute;
    top: 173px;
}

.name-collection:hover {
    cursor: pointer;
    color: #e0d4ac;
}
.big-man {
    background-image: url('images/big-man.png');
    height: 281px;
    position: relative;
    z-index: -1;
}

.man .name-collection {
    padding-right: 67px;
    top: 113px;
    right: 0;
}

.catalog-table {
    display: flex;
    justify-content: space-around;
    margin-top: -36px;
}

.catalog-thing_m, .catalog-thing_w {
    height: 188px;
    width: 201px;
    cursor: pointer;
    border-radius: 50%;
}

.catalog-thing_m:hover, .catalog-thing_w:hover {
    box-shadow: 0px 17px 39px -11px rgba(0,0,0,0.75);
}

.catalog-thing_w:first-child {
    background-image: url('images/толстовки.png');
}

.catalog-thing_w:nth-child(2) {
    background-image: url('images/платья.png');
}

.catalog-thing_w:nth-child(3) {
    background-image: url('images/брюки.png');
}

.catalog-thing_w:nth-child(4) {
    background-image: url('images/куртки.png');
}

.catalog-thing_m:first-child {
    background-image: url('images/костюмы.png');
}

.catalog-thing_m:nth-child(2) {
    background-image: url('images/водолазки.png');
}

.catalog-thing_m:nth-child(3) {
    background-image: url('images/гольфы.png');
}

.catalog-thing_m:nth-child(4) {
    background-image: url('images/брюкиМ.png');
}

.catalog-thing__text {
    font-weight: 500;
    font-size: 2.2rem;
    line-height: 188px;
    text-align: center;
    letter-spacing: 0.125em;
    color: #FFFFFF;
}


.cart-back {
    background-image: url('images/cart-back.png');
    height: 318px;
    position: relative;
    display: flex;
}

.cart-content {
    height: 602px;
    background-image: url("images/cart-content.png");
}

.cart__nav {
    text-align: center;
    align-self: flex-end;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 55px;
    background: rgba(210, 207, 207, 0.65);
}

.cart__link {
    font-weight: 700;
    line-height: 55px;
    height: 43px;
    padding: 0px 25px;
    font-size: 1.5rem;
    letter-spacing: 0.125em;
    color: #070707;
}

.cart__link:hover {
    cursor: pointer;
    border-bottom: 3px solid #E89B31;
}

.cart-content {
    display: grid;
    grid-template-columns: 908px 372px;
}

.data, .result {
    height: 100%;
}

.order {
    padding-left: 20px;
    text-align: center;
    width: 884px;
}

.order__title, .info__title, .result__title {
    font-weight: 700;
    font-size: 2.4rem;
    letter-spacing: 0.125em;
    color: #000000;
}

.order__title {
    padding-top: 30px;
}

.info__title {
    padding-top: 30px;
}

.order__block {
    margin-top: 15px;
    width: 884px;
    background-color: #F4F1F1;
    height: 225px;
    position: relative;
}

.order__top {
    width: 884px;
    background-color: #FFFBFB;
    position: absolute;
    height: 225px;
    top: 0;
    left: -6px;
    opacity: 0.65;
    border: 6px solid rgb(255, 211, 150);
}

.order__top p {
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 225px;
    text-align: center;
    letter-spacing: 0.125em;
    color: #000000;
}

.info {
    width: 754px;
    text-align: center;
    padding-left: 91px;
}

.info__block {
    margin-top: 10px;
    height: 193px;
    width: 754px;
    background: #FFFFFF;
    border: 5px solid rgba(0, 0, 0, 0.45);
}

.result {
    width: 315px;
    text-align: center;
    padding-left: 33px;
    padding-top: 115px;
}

.result__block {
    margin-top: 24px;
    width: 299px;
    height: 344px;
    background: #FFDCA8;
    border: 7px solid rgba(0, 0, 0, 0.35);
    border-radius: 20px;
}

.order__th {
    display: flex;
    justify-content: space-between;
    height: 38px;
    padding: 0 35px;
    border-bottom: 2px solid #000000;
}

.order__th p {
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 15px;
    letter-spacing: 0.125em;
    line-height: 38px;
    color: #000000;
}

.order__content {
    display: flex;
    padding: 0 28px;
    justify-content: space-between;
}

.order__circle {
    margin-top: 35px;
    width: 137px;
    height: 129px;
    background: #C4C4C4;
    border-radius: 50%;
}

.order__center-blocks__first {
    margin-top: 78px;
    width: 350px;
    height: 25px; 
    background: #C4C4C4;
}

.order__center-blocks__seconds {
    width: 247px;
    height: 25px;
    background: #C4C4C4;
    margin: 9px auto;
}

.order__right-blocks {
    margin-top: 76px;
    width: 85px;
    height: 25px;
    background: #C4C4C4;
}


form {
    display: flex;
    justify-content: space-between;
    width: 592px;
    margin-top: 40px;
    margin-left: 40px;
}

.info-circle {
    width: 134px;
    height: 126px;
    background: rgba(232, 155, 49, 0.5);
    border-radius: 50%;
}

input {
    width: 162px;
    height: 17px;
    background-color: #E89B31;
    border: none;
    padding-left: 5px;
    font-weight: 700;
    font-size: 1.1rem;
    letter-spacing: 0.125em;
    color: #000000;
}

.first-inputs, .second-inputs {
    width: 162px;
}

.input__text {
    font-weight: 700;
    font-size: 1.1rem;
    letter-spacing: 0.125em;
    color: #000000;
    text-align: left;
    padding-top: 15px;
    padding-bottom: 5px;
}

.result__list {
    width: 239px;
    height: 176px;
    margin: 38px auto 45px;
}

.result__list__item {
    padding-bottom: 13px;
    display: flex;
    justify-content: space-between;
}

.result__list__item:nth-child(3) {
    padding-bottom: 25px;
}

.result__list__item p {
    font-weight: bold;
    font-size: 1rem;
    letter-spacing: 0.125em;
    color: #000000;
}

.result__list__item span {
    display: inline-block;
    width: 59px;
    height: 3px;
    background-color: #F3A131;
    margin-top: 7px;
}





.submit {
    width: 193px;
    height: 44px;
    background-color: #E89B31;
    border: 4px solid rgba(0, 0, 0, 0.21);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0 auto;

    cursor: pointer;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 44px;
    text-align: center;
    letter-spacing: 0.125em;
    color: #FFFFFF;
}